# .gitignore file inside the /backend folder

# Ballerina build artifacts
/target/

# Java build artifacts
/java_hasher/target/

# Ballerina bindgen generated code
/passwordhasher/

# IDE files
.idea/
.vscode/
*.iml